body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.header-section {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 50px;
}

.header-title {
    width: 40%;
    align-items: center;
    color: white;
}

.header-in {
    text-align: center;

}

.button-1 {
    background-image: linear-gradient(to right, #2b5876 0%, #4e4376 51%, #2b5876 100%);
    margin: 10px;
    padding: 15px 45px;
    text-transform: uppercase;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;

}

.button-1:hover {
    background-image: linear-gradient(to right, #010c17 0%, #060214 51%, #03131e 100%);
}